{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Document</title>
</head>
<body>
<h1>POST_LIST</h1>
<form action="" method="get">
    <input type="text" name="q" value="{{ q }}">
    <input type="submit" value="검색">
</form>
<a href="new/" class="btn btn-primary btn-block mt-2 mb-2">포스트 생성</a>
<table class="table table-bordered table-hover">
    <tbody>
    {% for p in post_list %}
    <tr>
        <td><span>{{ p.pk }}</span></td>
        <td><span>{{ p.title }}</span></td>
        <td>
            {% if p.photo %}
            <img src="{{ p.photo.url }}" alt="" style="width : 100px;">
            {% else %}
                No Photo
            {% endif %}
        </td>
        <td><span>{{ p.content }}</span></td>
        <td>
            <a href="{{ p.get_absolute_url }}">자세히 보기</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% if is_paginated %}
        {% bootstrap_pagination page_obj size="small" justify_content="center" %}
    {% endif %}
</body>
</html>